version: '3.8'

services:
  server:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - DART_ENV=development
    command: sh -c "dart pub get && dart run bin/server.dart"
